#edit-field-contents-wrapper {
  position: relative;
}

#edit-field-contents-wrapper::before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(182, 182, 182, 0.5);
  z-index: 100;
}
